@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 138 25% 15%;

    --card: 0 0% 100%;
    --card-foreground: 138 25% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 138 25% 15%;

    --primary: 142 69% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 138 45% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 120 12% 96%;
    --muted-foreground: 138 25% 46%;

    --accent: 142 35% 85%;
    --accent-foreground: 138 25% 15%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --border: 120 12% 91%;
    --input: 120 12% 91%;
    --ring: 142 69% 58%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 138 25% 8%;
    --foreground: 0 0% 98%;

    --card: 138 25% 8%;
    --card-foreground: 0 0% 98%;

    --popover: 138 25% 8%;
    --popover-foreground: 0 0% 98%;

    --primary: 142 69% 58%;
    --primary-foreground: 138 25% 8%;

    --secondary: 138 45% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 138 15% 15%;
    --muted-foreground: 138 14% 63%;

    --accent: 138 15% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --border: 138 15% 15%;
    --input: 138 15% 15%;
    --ring: 142 69% 58%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
